In [3]:
import pandas as pd

data = pd.read_excel("ESD.xlsx")
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [9]:
gb = data.groupby("Department").agg({"Gender":"count"})
print(gb)

                 Gender
Department
Accounting           96
Engineering         158
Finance             120
Human Resources     125
IT                  241
Marketing           120
Sales               140

In [17]:
GB = data.groupby(["Department","Gender"]).agg({"EEID":"count"})
print(GB)                        #department = job title

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [20]:
gb1 = data.groupby("Country").agg({"Age":"mean"})
print(gb1)

                     Age
Country
Brazil         43.654676
China          45.389908
United States  44.197512

In [23]:
gb2 = data.groupby("Country").agg({"Annual Salary":"max"})
print(gb2)

               Annual Salary
Country
Brazil                258426
China                 257194
United States         258498

In [30]:
gb3 = data.groupby(["Country","Gender"]).agg({"Annual Salary":"mean"})
print(gb3)

                      Annual Salary
Country       Gender
Brazil        Female  111343.733333
              Male    113474.562500
China         Female  113904.908257
              Male    113742.155963
United States Female  112012.964072
              Male    114493.051780

In [32]:
gb4 = data.groupby(["Country","Gender"]).agg({"Annual Salary":"min","Age":"min"})
print(gb4)

                      Annual Salary  Age
Country       Gender
Brazil        Female          44735   25
              Male            40316   26
China         Female          46833   25
              Male            41728   25
United States Female          40124   25
              Male            40063   25