In [12]:
import pandas as pd

data1 = {"EEID":["E01","E02","E03","E04","E05","E06"],
         "Name":["Rojoni","Ashik","Adib","Ayesha","Raju","Bunny"],
         "Age":[23,22,15,40,52,1]}

data2 =  {"EEID":["E01","E02","E03","E04","E05","E06"],
          "Salary":[45000,56000,34000,30000,50000,100]}
df1 = pd.DataFrame(data1)
print(df1)
print()
df2 = pd.DataFrame(data2)
print(df2)

  EEID    Name  Age
0  E01  Rojoni   23
1  E02   Ashik   22
2  E03    Adib   15
3  E04  Ayesha   40
4  E05    Raju   52
5  E06   Bunny    1

  EEID  Salary
0  E01   45000
1  E02   56000
2  E03   34000
3  E04   30000
4  E05   50000
5  E06     100

In [15]:
# Marge

print(pd.merge(df1,df2,on = "EEID"))

  EEID    Name  Age  Salary
0  E01  Rojoni   23   45000
1  E02   Ashik   22   56000
2  E03    Adib   15   34000
3  E04  Ayesha   40   30000
4  E05    Raju   52   50000
5  E06   Bunny    1     100

In [17]:
import pandas as pd

data3 = {"EEID":["E01","E02","E03","E04","E05","E06"],
         "Name":["Rojoni","Ashik","Adib","Ayesha","Raju","Bunny"],
         "Age":[23,22,15,40,52,1]}

data4 =  {"EEID":["E01","E07","E03","E04","E08","E06"],
          "Salary":[45000,56000,34000,30000,50000,100]}
df3 = pd.DataFrame(data3)
print(df3)
print()
df4 = pd.DataFrame(data4)
print(df4)

  EEID    Name  Age
0  E01  Rojoni   23
1  E02   Ashik   22
2  E03    Adib   15
3  E04  Ayesha   40
4  E05    Raju   52
5  E06   Bunny    1

  EEID  Salary
0  E01   45000
1  E07   56000
2  E03   34000
3  E04   30000
4  E08   50000
5  E06     100

In [22]:
print(pd.merge(df3, df4,on = "EEID"))

  EEID    Name  Age  Salary
0  E01  Rojoni   23   45000
1  E03    Adib   15   34000
2  E04  Ayesha   40   30000
3  E06   Bunny    1     100

In [23]:
print(pd.merge(left = df3, right = df4,on = "EEID" , how = "left"))

  EEID    Name  Age   Salary
0  E01  Rojoni   23  45000.0
1  E02   Ashik   22      NaN
2  E03    Adib   15  34000.0
3  E04  Ayesha   40  30000.0
4  E05    Raju   52      NaN
5  E06   Bunny    1    100.0

In [25]:
print(pd.merge(left = df3, right = df4,on = "EEID" , how = "right"))

  EEID    Name   Age  Salary
0  E01  Rojoni  23.0   45000
1  E07     NaN   NaN   56000
2  E03    Adib  15.0   34000
3  E04  Ayesha  40.0   30000
4  E08     NaN   NaN   50000
5  E06   Bunny   1.0     100

In [32]:
# Concatenate

import pandas as pd

data5 = {"EEID":["E01","E02","E03","E04","E05","E06"],
         "Name":["Rojoni","Ashik","Adib","Ayesha","Raju","Bunny"],
         "Age":[23,22,15,40,52,1]}
data6 = {"EEID":["E07","E08","E09","E10","E11","E12"],
         "Name":["Pigi","King","Honu","Mom","Dad","Cat"],
         "Age":[23,22,15,40,52,1]}

df5 = pd.DataFrame(data5)
print(df5)
print()
df6 = pd.DataFrame(data6)
print(df6)

  EEID    Name  Age
0  E01  Rojoni   23
1  E02   Ashik   22
2  E03    Adib   15
3  E04  Ayesha   40
4  E05    Raju   52
5  E06   Bunny    1

  EEID  Name  Age
0  E07  Pigi   23
1  E08  King   22
2  E09  Honu   15
3  E10   Mom   40
4  E11   Dad   52
5  E12   Cat    1

In [30]:
print(pd.concat([df5,df6]))

  EEID    Name  Age
0  E01  Rojoni   23
1  E02   Ashik   22
2  E03    Adib   15
3  E04  Ayesha   40
4  E05    Raju   52
5  E06   Bunny    1
0  E07    Pigi   23
1  E08    King   22
2  E09    Honu   15
3  E10     Mom   40
4  E11     Dad   52
5  E12     Cat    1